.container-input{
  text-align: center;
  margin-bottom: 20px;
}

input{
  outline: none;
}
table {
  
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
  
}
td, tr, th {
  border: solid 1px;

}

td, th{
  padding: 8px 16px;
}

.container-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-input{
  margin-bottom: 10px;
}